@import "tailwindcss";

@theme {
  /* Breakpoints */
  --breakpoint-sm: 40rem; /* 640px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 60rem; /* 960px */
  --breakpoint-xl: 75rem; /* 1200px */

  /* Colors */
  --color-primary: #121315;
  --color-secondary: #666666;
  --color-accent: #ffc221;
  --color-border: #d7d7d7;

  /* Box shadow */
  --shadow-custom: 0px 4px 54px 10px rgba(18, 19, 21, 0.06);

  /* Background Image */
  --background-image-hero: url("/assets/images/hero/bg.jpg");
}

@layer utilities {
  .h1 {
    @apply text-[40px] leading-[1.1] font-black uppercase xl:text-[54px];
  }
  .h2 {
    @apply text-[36px] leading-[1.3] font-bold capitalize xl:text-[46px] xl:leading-[56px];
  }
  .h3 {
    @apply text-3xl font-bold;
    font-family: var(--font-dmSans);
  }
  .h4 {
    @apply text-2xl font-semibold;
  }
}

/* @theme {
  --animate-fade-in-scale: fade-in-scale 0.3s ease-out;
  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
} */
